<html>

<body>
    <!-- -->
</body>

</html>
<script type="text/template" id="template">
    <div :style="{ fontSize : fontSize,color:custom.color }">{{ name }}</div>
    <div>{{ info.age.sex }}</div>
    <!-- <div></div> -->
    <!-- <div v-for="item in array">
      <span></span>
  </div>
  <div v-show=""></div>
  <div v-if=""></div> -->
</script>
<script>
    var data = {
        status: true,
        name: "leslie",
        // dis: 'none',
        custom: {
            color: "red"
        },
        fontSize: "30px",
        info: {
            age: {
                sex: "man"
            }
        },
        array: ["demo1", "test"]
    };
    let dom = document.querySelector("#template").innerHTML;

    function __dynamicPropertyType(propertyString) {
        // inner not open
        let __isObject__ = /^{.*}$/g.test(propertyString);
        let __isArray__ = /^[.*]$/g.test(propertyString);
        if (__isObject__) {
            return "objectString";
        } else if (__isArray__) {
            return "arrayString";
        } else {
            return "undefined";
        }
    }

    // clear all space on string
    function clearSpace(str) {
        return str.replace(/\s+/g, "");
    }

    // replace index char function
    function replaceAt(index, originStr, replaceStr) {
        let __beginStr__ = originStr.slice(0, parseInt(index));
        let __endStr__ = originStr.slice(parseInt(index) + 1, originStr.length);
        return `${__beginStr__}${replaceStr}${__endStr__}`;
    }

    function __getObjectString(str) {
        let __ObjectString__ = "";
        let __cache__ = "";
        let __tempArray__ = [];
        let __regex__ = /\s*\w+\s*:\s*(.+?)\s*(?=[,}])\s*/g;
        let match = str.match(__regex__);
        let __returnMatch__ = match.map(item => {
            let temp = item.split(":");
            let key = clearSpace(temp[0]);
            let value = clearSpace(temp[1]);
            let execKey = /[A-Z]/g.exec(key);
            let key2LowerCase = "";
            if (execKey) {
                key2LowerCase = replaceAt(
                    execKey.index,
                    key,
                    `-${execKey[0].toLowerCase()}`
                );
            }
            return {
                key: String(key2LowerCase) || String(key),
                value: String(value)
            };
        });
        __returnMatch__.forEach(item => {
            __tempArray__.push(item.key + ':"+this.' + item.value);
        });
        __ObjectString__ = '"' + __tempArray__.join('+";');
        return __ObjectString__;
    }

    function compile(v_dom) {
        // open
        return new Promise((resolve, reject) => {
                // clear comments and change tab,new line to space
                let pre_v_dom = v_dom.replace(/[\n\r\t]/g, "").replace(/<!--.*-->/g, "");
                resolve(pre_v_dom);
            })
            .then(pre_v_dom => {
                // Deal Template Property
                return pre_v_dom.replace(
                    /(v-bind)?(:\w+)=["']\s*(.+)\s*["']/g,
                    (s0, s1, s2, s3) => {
                        let d2 = s2.slice(1, s2.length);
                        let dataType = __dynamicPropertyType(s3);
                        switch (dataType) {
                            case "objectString":
                                let toString = __getObjectString(s3);
                                let returnString = new Function(`return ${toString}`).apply(
                                    data
                                );
                                return `${d2}=${returnString}`;
                                break;
                            default:
                                break;
                        }
                    }
                );
            })
            .then(pre_v_dom => {
                // transform code
                return pre_v_dom.replace(/("|')/g, function(s0, s1) {
                    return "\\" + s1;
                });
            })
            .then(pre_v_dom => {
                // preCompile
                let regex = /{{([^{}]*)?}}/g;
                pre_v_dom = '"' + pre_v_dom;
                while ((match = regex.exec(pre_v_dom))) {
                    let filed_regexp = new RegExp(match[0], "g");
                    pre_v_dom = pre_v_dom.replace(
                        filed_regexp,
                        '"+this.' + match[1] + '+"'
                    );
                }
                pre_v_dom += '"';
                return pre_v_dom;
            });
    }

    function render(tpl, data) {
        //open
        let render_func = `return ${tpl}`;
        let temp = new Function(render_func).call(data);
        return temp;
    }

    let compile_template = compile(dom);
    compile_template.then(template => {
        let content = render(template, data);
        document.body.innerHTML = content;
    });

    // 内容挂載
</script>