<html>

<body>
    <!-- -->
</body>

</html>
<script type="text/template" id="template">
    <div style="color:red;font-size:20px;">{{ name }}</div>
    <div>{{ info.age.sex }}</div>
    <div></div>
    <!-- <div v-for="item in array">
        <span></span>
    </div>
    <div v-if=""></div> -->
</script>
<script>
    var data = {
        status: true,
        name: 'leslie',
        info: {
            age: {
                sex: 'man'
            }
        },
        array: ['demo1', 'test']
    }
    let dom = document.querySelector('#template').innerHTML;

    function compile(v_dom) {
        return new Promise((resolve, reject) => {
            // clear comments and change tab,new line to space
            let pre_v_dom = v_dom.replace(/[\n\r\t]/g, '').replace(/<!--.*-->/g, "");
            resolve(pre_v_dom);

        }).then(pre_v_dom => {
            // transform code
            return pre_v_dom.replace(/("|')/g, function (s0, s1) {
                return '\\' + s1;
            });
        }).then(pre_v_dom => {
            // preCompile
            let regex = /{{([^{}]*)?}}/g;
            pre_v_dom = '\"' + pre_v_dom;
            while (match = regex.exec(pre_v_dom)) {
                let filed_regexp = new RegExp(match[0], 'g');
                pre_v_dom = pre_v_dom.replace(filed_regexp, '\"+this.' + match[1] + '+\"');
            }
            pre_v_dom += '\"';
            return pre_v_dom;
        });
    }

    function render(tpl, data) {
        let render_func = `return ${tpl}`;
        let temp = new Function(render_func).call(data);
        return temp;
    }

    let compile_template = compile(dom);
    compile_template.then(template => {
        let content = render(template, data);
        document.body.innerHTML = content;
    })

    // 内容挂載


</script>