<html>

<body></body>

</html>
<script type="text/template" id="template">
    <div style="color:red;font-size:20px;">{{name}}</div>
    <div>{{info.age}}</div>
    <div v-for="item in array">
        <span></span>
    </div>
    <div v-if=""></div>
</script>
<script>
    var data = {
        status: true,
        name: 'leslie',
        info: {
            age: 25
        },
        array: ['demo1', 'test']
    }
    let dom = document.querySelector('#template').innerHTML;

    function compile(v_dom) {
        let regex = /{{([^{}]*)?}}/g;
        // pre compile
        let preCompile = v_dom.replace(/[\n\r\t]/g, '')
            .replace(/("|')/g, function(s0, s1) {
                return '\\' + s1;
            });
        preCompile = '\"' + preCompile;
        while (match = regex.exec(preCompile)) {
            let filed_regexp = new RegExp(match[0], 'g');
            preCompile = preCompile.replace(filed_regexp, '\"+this.' + match[1] + '+\"');
        }
        preCompile += '\"';
        return preCompile;
    }

    function render(tpl, data) {
        let render_func = `return ${tpl}`;
        let temp = new Function(render_func).call(data);
        return temp;
    }

    let compile_template = compile(dom);
    let content = render(compile_template, data);
    // 内容挂載

    document.body.innerHTML = content;
</script>